.idea/
node_modules/
npm-debug.log

/server/database/*.png

*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
.DS_Store

/STRP/Library/FailedAssetImports.txt
/STRP/Library/cache/
/STRP/Library/ShaderCache/
/STRP/Library/previews/
/STRP/Library/ScriptAssemblies/

obj/
Temp/
/HoloApp/
/HoloAppNew/